$conservation-banner: url("./images/conservation_status/status_banner.jpeg");

$font-type: "Lalezar", sans-serif;
$white-color: #ffffff;
$orange-color: #e77929;
$grey-color: #d9d9d9;
$dark-green-color: #0b1f04;

@mixin theme($theme: $grey-color) {
  background: $theme;
  border: none;
  color: $orange-color;
  font: 1rem $font-type;
}

.conservation_page_container {
  width: 70vw;
  height: 52.9vh;
  margin: 0 auto;
}

.conservation_banner {
  background-image: $conservation-banner;
  background-size: cover;
  background-position: 10% 33%;
}

.conservation_page_title {
  position: relative;
  top: -0.75rem;
  margin: 1rem 0;
  text-align: center;
}

.conservation_icon_container {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin-left: 15%;
}

.conservation_page_content {
  width: 50%;
  margin-left: 1rem;
  margin-top: 1rem;
  span {
    font-size: 1.5rem;
    color: $orange-color;
  }
}

.conservation_button_container {
  margin: 1rem 0 1rem 0;
}

.conservation_button {
  @include theme;
  width: 25%;
  background-color: $dark-green-color;
  padding: 0.5rem;
}

.conservation_button:active {
  background-color: $orange-color;
  color: $grey-color;
}

.active_button {
  @include theme;
  width: 25%;
  background-color: $orange-color;
  padding: 0.5rem;
  color: $grey-color;
}

.conservation_details_container {
  background-color: $dark-green-color;
  height: 10rem;
  color: $grey-color;
  display: flex;
  justify-content: center;
}

.conservation_icon {
  width: 2.5rem;
  height: 2.5rem;
  margin-top: 1rem;
}

.conservation_icon_enlarged {
  width: 5rem;
  height: 5rem;
  margin-left: 1rem;
  margin-top: 2.5rem;
}
