$font-type: "Lalezar", sans-serif;
$white-color: #ffffff;
$orange-color: #e77929;
$dark-green-color: #0b1f04;
$conservation-image: url("./images/homepage/conservation_image.jpeg");

.homepage_container {
  width: 70vw;
  height: 100vh;
  margin: 0 auto;
}

.banner {
  width: 100vw;
  object-fit: cover;
  height: 40vh;
  z-index: -1;
}

.banner:nth-of-type(1) {
  object-position: 20% 55%;
}

.banner_label {
  font: 1rem $font-type;
  width: 26rem;
  background-color: transparentize($dark-green-color, 0.25);
  div {
    text-align: left;
    margin-left: 1.5rem;
  }
  span {
    font: 1.5rem $font-type;
  }
  .orange {
    color: $orange-color;
  }
}

.feature_box {
  width: 100%;
  margin-top: 2rem;
  height: 15rem;
  position: relative;
  display: flex;
  border: 10px solid $dark-green-color;
}

.featured_details {
  width: 26rem;
  height: 100%;
  background-color: $dark-green-color;
  border-right: 3px solid $dark-green-color;
}

.featured_label {
  font-size: 1.5rem;
  color: $orange-color;
  span {
    color: white;
    position: relative;
    top: 0.25rem;
    margin-right: 0.5rem;
  }
}

.featured_name {
  color: white;
  font-size: 2.25rem;
}

.featured_image {
  flex-grow: 1;
  height: 100%;
  object-fit: cover;
  object-position: 0% 15%;
}

.conservation_box {
  width: 100%;
  margin-top: 2rem;
  height: 15rem;
  position: relative;
}

.conservation_box::before {
  content: "";
  background-image: $conservation-image;
  background-position: 0 25%;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.4;
}
