$font-type: "Lalezar", sans-serif;
$white-color: #ffffff;
$orange-color: #e77929;
$dark-green-color: #0b1f04;
$grey-color: #d9d9d9;
$conservation-image: url("./images/homepage/conservation_image.jpeg");
$search-image: url("./images/homepage/search_image.jpeg");

.page_container {
  width: 70vw;
  height: 131vh;
  margin: 0 auto;
}

.banner {
  width: 100vw;
  object-fit: cover;
  height: 40vh;
  z-index: -1;
}

.banner:nth-of-type(1) {
  object-position: 20% 55%;
}

.banner_label {
  font: 1rem $font-type;
  width: 26rem;
  background-color: transparentize($dark-green-color, 0.25);
  div {
    text-align: left;
    margin-left: 1.5rem;
  }
  span {
    font: 1.5rem $font-type;
  }
  .orange {
    color: $orange-color;
  }
}

.feature_box {
  width: 100%;
  margin-top: 2rem;
  height: 15rem;
  position: relative;
  display: flex;
  border: 10px solid $dark-green-color;
  .main_button {
    margin-top: 0.5rem;
  }
}

.featured_details {
  width: 26rem;
  height: 100%;
  background-color: $dark-green-color;
  border-right: 3px solid $dark-green-color;
}

.featured_label {
  font-size: 1.5rem;
  color: $orange-color;
  span {
    color: $grey-color;
    position: relative;
    top: 0.25rem;
    margin-right: 0.5rem;
  }
}

.featured_name {
  color: white;
  font-size: 2.25rem;
  margin: 0.5rem 0;
}

.featured_image {
  flex-grow: 1;
  height: 100%;
  object-fit: cover;
  object-position: 0% 15%;
}

.featured_icon {
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.8rem;
  top: -0.1rem;
}

.featured_info {
  color: $orange-color;
  margin-bottom: 0.5rem;
}

.conservation_title {
  position: relative;
  color: white;
  font-size: 2.25rem;
  margin: 0.5rem;
  text-align: center;
  top: 3rem;
  overflow: hidden;
}

.conservation_image {
  height: 100%;
  flex-grow: 1;
  background-image: $conservation-image;
  background-position: 30% 25%;
  background-size: cover;
}

.search_database_title {
  color: white;
  font-size: 2.25rem;
  margin: 0.5rem 15%;
  max-width: 17rem;
  text-align: center;
  position: relative;
  top: 3rem;
}

.search_image {
  height: 100%;
  flex-grow: 1;
  background-image: $search-image;
  background-position: 50% 25%;
  background-size: cover;
}
