$conservation-banner: url("./images/conservation_status/search_user_banner.jpeg");

$font-type: "Lalezar", sans-serif;
$white-color: #ffffff;
$orange-color: #e77929;
$grey-color: #d9d9d9;
$dark-green-color: #0b1f04;

.search_input_container {
  width: 25%;
  justify-content: center;
  text-align: center;
  margin-left: 37.5%;
}

.search_userspage_container {
  width: 70vw;
  min-height: 60vh;
  margin: 0 auto;
}

.search_users_banner {
  background-image: $conservation-banner;
  background-size: cover;
  background-position: 10% 55%;
}

.user_list_table {
  margin: 1rem;
  width: 100%;
  height: 3vh;
  font-size: 1rem;
  text-align: center;
  justify-content: center;
  thead {
    background-color: $dark-green-color;
    color: $white-color;
  }
  td {
    font-size: 0.8rem;
    height: 2rem;
  }
}

.country_flag {
  width: 1rem;
  height: 1rem;
  margin-right: 0.25rem;
}
