$orange-color: #e77929;
$grey-color: #d9d9d9;
$white-color: #ffffff;
$dark-green-color: #0b1f04;
$font-type: "Lalezar", sans-serif;

.navbar {
  width: 100vw;
  height: 3rem;
  background-color: $dark-green-color;
  display: flex;
  font-family: $font-type;
  .navbar_icon_container {
    width: 4vw;
    margin-top: -1rem;
  }
  .navbar_icon {
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
  }
}

.page_header_container {
  display: flex;
  width: 20vw;
  height: 3rem;
}

.page_header {
  margin-left: 1rem;
  color: $grey-color;
  line-height: 3rem;
  margin-top: -0.5rem;
}

.navlink_container {
  width: 17vw;
  height: 3rem;
  text-align: center;
  margin-top: -1rem;
  .navlink {
    margin-left: 1rem;
    color: $orange-color;
    line-height: 3rem;
  }
  span {
    position: relative;
    top: 0.5rem;
    margin-right: 0.5rem;
    color: $grey-color;
  }
}

.navlink:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.navbar_right_container {
  width: 25vw;
  height: 3rem;
  text-align: right;
  margin-top: -1rem;
  span {
    position: relative;
    top: 0.75rem;
    margin-right: 1rem;
    color: $grey-color;
  }
}
